body,html{
    height: 100%;
    font-size: 18px;
}

.form-control{
    margin-bottom: 15px;
    font-size: 18px;
    border: 3px solid #ffffff;
  }

img{
    height: 80px;
    width: 70px;
}

#msgError{
    color: #ffffff;
    margin-bottom: 10px;
}

.row{
    padding-top: 1em;
}

#menu{
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}

#dashmenu{
    background-color: #FF9900;
    margin-bottom:2rem;
    border-radius:.3rem;
    border: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  }

#tabela{
    background-color: #FF9900;
    margin-bottom:2rem;
    border-radius:.3rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    text-align: center;
  }

  #btn1{
    margin-bottom:2rem;
    margin-right: 20px;
    border-radius:.3rem;
    border: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  }
